extends layout

block content
    link(rel='stylesheet', href='/stylesheets/profile.css')
    section#right
        .gcontent
            .head
                h1 Friends List
            .boxy
                p Your friends - 106 total
                .friendslist.clearfix
                    .friend
                        a(href='#')
                            img(src='img/friend_avatar_default.jpg', width='30', height='30', alt='Jerry K.')
                        span.friendly
                            a(href='#') Jerry K.
                    .friend
                        a(href='#')
                            img(src='img/friend_avatar_default.jpg', width='30', height='30', alt='Katie F.')
                        span.friendly
                            a(href='#') Katie F.
                    .friend
                        a(href='#')
                            img(src='img/friend_avatar_default.jpg', width='30', height='30', alt='Ash K.')
                        span.friendly
                            a(href='#') Ash K.
                    .friend
                        a(href='#')
                            img(src='img/friend_avatar_default.jpg', width='30', height='30', alt='Sponge B.')
                        span.friendly
                            a(href='#') Sponge B.
                    .friend
                        a(href='#')
                            img(src='img/friend_avatar_default.jpg', width='30', height='30', alt='Frank')
                        span.friendly
                            a(href='#') Frank
                    .friend
                        a(href='#')
                            img(src='img/friend_avatar_default.jpg', width='30', height='30', alt='Alexa S.')
                        span.friendly
                            a(href='#') Alexa S.
                span
                    a(href='#') See all...