extends layout

block content
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')  
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#')
                    //img(alt='Brand', src='../stylesheets/Icon_BeerBuddy.png')
                    a(href='http://localhost:3000') img.navicon(src='../images/Icon_BeerBuddy.png')
            .navbar-collapse.collapse
                form.navbar-form.navbar-right(role='form')
                        a.btn.btn-primary(href='/auth/facebook') Log in with Facebook
                            i.fa.fa-facebook-official

            // /.navbar-collapse
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron.jumbotron-fluid
        .container
            .row
                .col-lg-12
                    img.logo(src='../images/logo_BeerBuddy.png')
                    form.search(name="search", method="post")
                        input(type="text", name="input", placeholder= "Search for a beer...")
                        input(type='submit', value='Go')

                        if locals.beers
                             ul
                                each beer in beers
                                    li= beer.name


    .container
        // Page Heading
        .row
            .col-lg-12
                h1.page-header
                    | Page Heading
                    small Secondary Text
        // /.row
        // Projects Row
        .row
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
        // /.row
        // Projects Row
        .row
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
        // /.row
        // Projects Row
        .row
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
        // /.row
        hr
        // Pagination
        .row.text-center
            .col-lg-12
                ul.pagination
                    li
                        a(href='#') «
                    li.active
                        a(href='#') 1
                    li
                        a(href='#') 2
                    li
                        a(href='#') 3
                    li
                        a(href='#') 4
                    li
                        a(href='#') 5
                    li
                        a(href='#') »
        // /.row
        hr
        // Footer
        footer
            .row
                .col-lg-12
                    p Copyright © Your Website 2014
            // /.row
    // /.container
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')

