extends layout

block content
    h1= title
    p Welcome to #{title}
    i.fa.fa-facebook-official
    a.btn.btn-primary(href='/auth/facebook') Facebook
    form(name="search", method="post")
        input(type="text", name="input")
        input(type="submit", value="Search")
    if locals.beers
        ul
            each beer in beers
                li= beer
body