extends layout

block content
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron.jumbotron-fluid
        .container
            .row
                .col-lg-12
                    img.logo(src='../images/logo_BeerBuddy.png')


                        if locals.beers
                             ul
                                each beer in beers
                                    li= beer.name

                        if locals.beers
                             ul
                                each beer in beers
                                    li= beer.name


    .container
        div(ng-controller='ctrl1')
            div(class='row')
                input(type="text", name="input", placeholder= "Search for a beer...", ng-model='input')
                br
                br
            div(class='row')
                div(class='col-xs-6 col-md-3', ng-repeat='beer in data')
                    //div(style = 'border:5px solid silver; border-radius:10px')
                    div
                        br
                        img(ng-show='beer.image != undefined', src='{{beer.image}}', alt='', height="200", width="200")
                        img(ng-show='beer.image == undefined', src='/images/no_image.png', alt='', height="200", width="200")
                        br
                        br
                        h3 {{beer.name}}
                        div Beer ID: {{beer.beerId}}
                        br
                        br
                    br
                    br
        // /.row
        hr
        // Pagination
        .row.text-center
            .col-lg-12
                ul.pagination
                    li
                        a(href='#') «
                    li.active
                        a(href='#') 1
                    li
                        a(href='#') 2
                    li
                        a(href='#') 3
                    li
                        a(href='#') 4
                    li
                        a(href='#') 5
                    li
                        a(href='#') »
        // /.row
        hr
        // Footer
        footer
            .row
                .col-lg-12
                    p Copyright © Your Website 2014



