extends layout

block content
    head
        link(rel='stylesheet', href='/stylesheets/profile.css')
    #content.clearfix
        section#left
            #userStats.clearfix
                .pic
                    a(href='#')
                        img(src='img/user_avatar.jpg', width='150', height='150')
                .data
                    h1 Johnny Appleseed
                    .sep
                    ul.numbers.clearfix
                        li
                            | Favorite Beers
                            strong 185
                        li
                            | Friends
                            strong 106
    .container
        // Page Heading
        .row
            .col-lg-12
                h1.page-header
                    | Favorite Beers

        // /.row
        // Projects Row
        .row
            .col-md-3.portfolio-item
                a(href='#')
                    .product-image.text-center
                        img.img-responsive(src='https://s3.amazonaws.com/brewerydbapi/beer/voS2xG/upload_sZpYvj-large.png', alt='', data-toggle='modal', data-target='#myModal')
                        #myModal.modal.fade(role='dialog')
                            .modal-dialog
                                // Modal content
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal') ×
                                        h4.modal-title Modal Header
                                    .modal-body
                                        p Some text in the modal.
                                    .modal-footer
                                        button.btn.btn-default(type='button', data-dismiss='modal') Close


                .product-meta
                    p.text-left beer name here

            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
        // /.row
        // Projects Row
        .row
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
        // /.row
        // Projects Row
        .row
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
            .col-md-3.portfolio-item
                a(href='#')
                    img.img-responsive(src='http://placehold.it/750x450', alt='')
        // /.row

        hr
        // Footer
        footer
            .row
                .col-lg-12
                    p Copyright © Your Website 2014
            // /.row
    // /.container
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')